<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Messenger</title>
</head>
<body>
    <%- include('header') %>

    <main>
        <h1>Welcome to Messenger!</h1>
        <h2>Where you can message <em><span class="typing-effect"></span></em></h2>
    </main>

    <%- include('footer') %>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed(".typing-effect", {
            strings: ['privately', 'to groups', 'in chats', 'anonymously'],
            typeSpeed: 100,
            backSpeed: 50,
            loop: true,
            smartBackspace: true,
        });
    </script>
</body>
</html>